# Log
LOG_FORMAT=text
LOG_LEVEL=info

# Server
SERVER_HOST=127.0.0.1
SERVER_PORT=8080
SERVER_READ_TIMEOUT=5s
SERVER_WRITE_TIMEOUT=30s
SERVER_IDLE_TIMEOUT=120s
SERVER_SHUTDOWN_TIMEOUT=10s

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=arbiterer
POSTGRES_SSLMODE=disable

# Create an app at https://discord.com/developers/applications and add a
# redirect to the `DISCORD_REDIRECT_URI` below under "OAuth2 -> Redirects".
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:8080/callback

# Goose
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=internal/storage/migrations
GOOSE_DBSTRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=${POSTGRES_SSLMODE}

# Docker
COMPOSE_FILE=.devcontainer/compose.yml
